.slider {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-height: 500px;
  max-width: 500px;
  overflow: hidden;
}
.slider-img.hide {
  /* visibility: hidden; */
  display: none;
}
.slider-left {
  position: absolute;
  top: 50%;
  left: 10px;
}
.slider-right {
  position: absolute;
  top: 50%;
  right: 10px;
}

.slider-btn.hide {
  visibility: hidden;
}
